@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Oswald&display=swap');


:root{

    /* Primary */

    --Light-red : hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    
    /* gradients for background*/
    
    --Light-slate-blue : hsl(252, 100%, 67%);
    --Light-royal-blue : hsl(241, 81%, 54%);
    
     /* gradients for circles*/

    --Violet-blue : hsla(256, 72%, 46%, 1);
    --Persian-blue : hsla(241, 72%, 46%, 0);
    
    
    
    /* Neutral colors */
    
    --White :  hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}
.wrapper {
    background-color: aquamarine;
}

.container {
    height: 100vh;
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background-image: linear-gradient(180deg, hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: var(--White);
}

#result {
    font-size: 24px;
    padding-bottom: 10px;
    align-content: center;
    color: var(--Light-lavender);
}
.left h3{
    padding-bottom: 10px;
    font-size: 24px;
}

.left .score {
    background-image: linear-gradient(180deg,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}

.score h1 {
    font-size: 4em;
}

.score span {
    color: var(--Light-lavender);
    font-weight: 800;
}

.left p {
    width: 70%;
    text-align: center;
    color: var(--Light-lavender);
}

.right {
    background-color: var(--White);
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right h3 {
    
}

.options {
    width: 85%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 7px;
}
.one {
    background-color: hsla(0, 100%, 67%, 15%);
}

.one .left-span {
    color: var(--Light-red);
}

.two {
    background-color: hsla(39, 100%, 56%, 15%);
}
.two .left-span {
    color: var(--Orangey-yellow);
}

.three {
    background-color: hsla(166, 100%, 37%, 15%);
}

.three .left-span {
    color: var(--Green-teal);
}

.four {
    background-color: hsla(234, 85%, 45%, 15%);
}

.four .left-span {
    color: var(--Cobalt-blue);
}

p {
    display: inline;
    color: hsla(223, 23%, 37%, 0.75);
}

.cta-btn {
    margin-top: 15px;
    padding: 12px;
    width: 85%;
    border-radius: 20px;
    border: none;
    color: var(--White);
    font-size: 18px;
    background-color: var(--Dark-gray-blue);
    cursor: pointer;
}

.cta-btn:hover{
    background-image: linear-gradient(180deg, hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    transition: .5s ease-in-out;
}